.banner {
	position: absolute;
	left: 0;
	right: 0;
}

.banner__img {
	width: 320px;
	height: 176px;
}

@media screen and (min-width: 768px) {
	.banner {
		position: relative;
		flex-shrink: 0;
		margin-left: 48px;
	}

	.banner__img {
		width: 360px;
		min-height: 208px;
		border-radius: 6px;
	}
}

@media screen and (min-width: 1440px) {
	.banner {
		margin-left: 36px;
	}

	.banner__img {
		width: 531px;
		min-height: 307px;
	}
}
