.modal-callback__backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 997;

	width: 100vw;
	height: 100vh;

	background-color: var(--blur-light-backdrop-color);
	opacity: 1;
	visibility: visible;

	transition: transform var(--animation-time) var(--animation-time-function),
		opacity var(--animation-time) var(--animation-time-function),
		visibility var(--animation-time) var(--animation-time-function);
}

.modal-callback__backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.backdrop.is-hidden .modal-callback {
	transform: translate(-50%, -50%) scale(1.1);
}

.modal-callback {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 998;
	transform: translate(-50%, -50%) scale(1);

	min-height: 676px;
	width: 320px;
	padding-top: 104px;
	padding-right: 16px;
	padding-bottom: 75px;
	padding-left: 16px;

	background-color: var(--secondary-light-bg-color);

	transition: transform var(--animation-time) var(--animation-time-function);
}

.modal-callback__btn {
	position: absolute;
	top: 24px;
	left: 16px;
	z-index: 999;

	transition: transform var(--animation-time) var(--animation-time-function);

	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.modal-callback__title {
	display: flex;
	align-items: center;
	margin-top: 0;
	margin-bottom: 24px;

	font-family: 'TT Lakes Bold', sans-serif;
	font-size: 24px;
	line-height: 1.33; /*32px*/
	letter-spacing: -0.6px;

	color: var(--main-dark-text-color);

	&::before {
		content: '';
		position: absolute;
		left: 0;
		display: block;
		width: 4px;
		height: 40px;
		border-top-right-radius: 28px;
		border-bottom-right-radius: 28px;

		background-color: var(--accent-pseudo-color);
	}
}

.modal-callback__form {
	display: flex;
	flex-direction: column;
}

.modal-callback__field {
	margin-bottom: 16px;

	&--accept {
		margin-bottom: 19px;
	}
}

.modal-callback__input {
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 16px;
	padding-right: 16px;
	border: 1px solid var(--item-border-line-color);
	border-radius: 8px;

	font-family: 'TT Lakes Medium', sans-serif;
	font-size: 16px;
	line-height: 1.5; /*24px*/
	letter-spacing: -0.2px;

	color: var(--main-dark-text-color);

	transition: border-color var(--animation-time) var(--animation-time-function);

	&::placeholder {
		color: var(--secondary-light-text-color);
	}

	&:focus {
		outline: none;
		border-color: var(--accent-color);
	}
}

.modal-callback__accept {
	margin-bottom: 0;
	margin-top: 0;

	font-family: 'TT Lakes Medium', sans-serif;
	font-size: 14px;
	line-height: 1.14; /*16px*/
	letter-spacing: 0px;

	color: var(--main-light-text-color);
}

.modal-callback__accent {
	@extend %link;

	color: var(--accent-color);
}

@media screen and (min-width: 1440px) {
	.modal-callback__backdrop {
		transform: translateX(0);
		background-color: var(--blur-light-bg-color);
	}

	.modal-callback__backdrop.is-hidden {
		transform: translateX(100%);
	}

	.modal-callback {
		top: 0;
		left: auto;
		right: 0;

		transform: translate(0, 0);
		width: 440px;
		min-height: auto;
		height: 100vh;
		padding-top: 40px;
		padding-right: 32px;
		padding-bottom: auto;
		padding-left: 32px;

		box-shadow: -2px 0 4px 0 var(--shadow-right-modal);
	}

	.modal-callback__btn {
		top: 32px;
		left: -70px;
	}

	.modal-callback__title {
		&::before {
			width: 3px;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}
}
