.modal-feedback {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 22px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 320px;
	height: 100vh;
	z-index: 999;

	transform: translateX(-100%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	background-color: var(--secondary-light-bg-color);
	box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);

	transition: transform var(--animation-time) var(--animation-time-function),
		opacity var(--animation-time) var(--animation-time-function),
		visibility var(--animation-time) var(--animation-time-function);
}

.modal-feedback.is-open {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
	pointer-events: initial;
}
