.section {
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--section-border-line-color);
	overflow: hidden;
}

.section--services {
	position: relative;
	padding-bottom: 200px;
}

.section--repair {
	padding-top: 0;
}

.section__title--services {
	display: flex;
	align-items: center;
	margin-bottom: 24px;

	font-family: 'TT Lakes Bold', sans-serif;
	font-size: 28px;
	line-height: 1.43; /*40px*/
	letter-spacing: -0.6px;

	color: var(--main-dark-text-color);
}

.section__title--services::before {
	content: '';
	position: absolute;
	left: 0;
	display: block;
	width: 4px;
	height: 40px;
	border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;

	background-color: var(--accent-pseudo-color);
}

.section__title--repair {
	margin-bottom: 16px;
	padding: 16px;

	font-family: 'TT Lakes Regular', sans-serif;
	font-size: 16px;
	line-height: 1.5; /*24px*/
	letter-spacing: -0.2px;
	text-transform: uppercase;

	color: var(--main-light-text-color);
	background-image: linear-gradient(
		to right,
		var(--main-light-bg-color),
		var(--secondary-light-bg-color)
	);
}

.section__menu {
	@extend %list;
	margin-bottom: 24px;
	display: flex;
	overflow: auto;
}

.section__descr {
	margin-top: 0;
	margin-bottom: 16px;
}

.section__expand {
	margin-bottom: 16px;
}

.section__nds {
	margin-top: 0;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;

	font-family: 'TT Lakes Regular', sans-serif;
	font-size: 14px;
	line-height: 1.43; /*20px*/
	letter-spacing: 0.2px;

	color: var(--main-dark-text-color);
}

@media screen and (min-width: 768px) {
	.section {
		padding-bottom: 32px;
	}

	.section__title--services {
		margin-bottom: 32px;
	}

	.section__menu {
		margin-bottom: 32px;
	}

	.section--services {
		padding-bottom: 32px;
	}

	.section--prices {
		padding-bottom: 47px;
	}

	.section__descr {
		margin-bottom: 10px;
	}

	.section__title--repair {
		margin-bottom: 24px;
	}

	.section__title--prices {
		margin-bottom: 32px;
	}

	.section__expand {
		margin-bottom: 0;
	}

	.section__nds {
		max-width: 446px;
		padding-left: 24px;
		padding-right: 0;
	}
}

@media screen and (min-width: 1440px) {
	.section {
		padding-top: 0;
		padding-bottom: 50px;
	}

	.section__title--services {
		margin-bottom: 8px;
	}

	.section__title--services::before {
		width: 3px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	.section__menu {
		overflow: visible;
		flex-wrap: wrap;
		margin-bottom: 8px;
	}

	.section__descr {
		margin-bottom: 14px;
	}

	.section--services {
		padding-bottom: 51px;
	}
}
