.services {
	@extend %list;
	margin-bottom: 16px;
	padding-left: 8px;
	display: flex;
	overflow: auto;
}

.services__item {
	position: relative;
	padding: 16px;
	height: 200px;
	width: 260px;
	flex-shrink: 0;

	border-radius: 6px;
	border: 1px solid var(--item-border-line-color);

	background-color: var(--secondary-light-bg-color);
}

.services__item:not(:last-child) {
	margin-right: 16px;
}

.services__group {
	margin-bottom: 16px;
}

.services__group--last {
	margin-bottom: 0;
}

.services__title {
	margin-top: 0;
	margin-bottom: 4px;

	font-family: 'TT Lakes Medium', sans-serif;
	font-size: 14px;
	line-height: 1.14; /*16px*/
	letter-spacing: 0;

	color: var(--main-light-text-color);
}

.services__text {
	margin: 0;

	font-family: 'TT Lakes Regular', sans-serif;
	font-size: 14px;
	line-height: 1.29; /*18px*/
	letter-spacing: 0.2px;

	color: var(--main-dark-text-color);
}

.services__btn {
	position: absolute;
	bottom: 16px;
	right: 16px;
}
