.services {
	display: none;
}

@media screen and (min-width: 768px) {
	.services {
		display: table;
		width: 100%;
		max-width: 720px;
		margin: 0 auto;
		margin-bottom: 24px;
		padding-left: 24px;
		padding-right: 24px;
		border-collapse: collapse;
		overflow: hidden;
	}

	.services th {
		padding-bottom: 16px;

		font-family: 'TT Lakes Medium', sans-serif;
		text-align: left;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0;

		color: var(--main-light-text-color);
	}

	.services th:first-child {
		padding-left: 16px;
	}

	.services tbody {
		background-color: var(--secondary-light-bg-color);
	}

	.services tbody tr:first-child td:first-child {
		border-top-left-radius: 6px;
	}
	.services tbody tr:first-child td:last-child {
		border-top-right-radius: 6px;
	}

	.services tbody tr:last-child td:first-child {
		border-bottom-left-radius: 6px;
	}

	.services tbody tr:last-child td:last-child {
		border-bottom-right-radius: 6px;
	}

	.services tbody {
		padding-left: 16px;
	}

	.services tbody td {
		padding-top: 16px;
		padding-bottom: 16px;

		font-family: 'TT Lakes Regular', sans-serif;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.2px;

		color: var(--main-dark-text-color);
	}

	.services tbody tr:not(:last-child) {
		border-bottom: 1px solid var(--item-border-line-color);
	}

	.services td:first-child {
		padding-left: 16px;
	}
}
