.services-list__item {
	padding: 8px;

	text-wrap: nowrap;
}

.services-list__item:not(:last-child) {
	margin-right: 10px;
}

.services-list__item--active {
	border-radius: 6px;
	border: 2px solid var(--item-border-color);

	background-color: var(--secondary-light-bg-color);
}

.services-list__link {
	@extend %link;

	font-family: 'TT Lakes Medium', sans-serif;
	font-size: 16px;
	line-height: 1.5; /*24px*/
	letter-spacing: -0.2px;

	color: var(--main-light-text-color);

	transition: color var(--animation-time) var(--animation-time-function);
}

.services-list__link:hover,
.services-list__link:focus {
	color: var(--accent-color);
}

@media screen and (min-width: 1440px) {
}
