.text-about__tablet,
.text-about__desktop {
	display: none;
}

@media screen and (min-width: 768px) {
	.text-about__tablet {
		display: block;
		margin-top: 26px;
	}
}

@media screen and (min-width: 1440px) {
	.text-about__desktop {
		display: block;
	}
}
