:root {
	--main-light-bg-color: #f8f8f8;
	--secondary-light-bg-color: #ffffff;

	--main-dark-text-color: #1b1c21;
	--main-light-text-color: #7e7e82;
	--secondary-light-text-color: #b5b6bc;
	--alternative-light-text-color: #ffffff;
	--logo-fill-color: #6b7b84;
	--logo-stroke-color: #80949f;
	--swiper-non-active-pagination: #dddddd;

	--item-border-color: #b8ffec;
	--section-border-line-color: #d9fff5;
	--item-border-line-color: #eaeaea;
	--accent-color: #ff3e79;
	--accent-pseudo-color: #41f6d7;

	--animation-time: 250ms;
	--animation-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
