.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 19px;

	text-align: center;
}

.footer__text {
	margin-top: 0;
	margin-bottom: 16px;

	font-family: 'TT Lakes Medium', sans-serif;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0;

	color: var(--main-light-text-color);
}

.footer__text--date,
.footer__text--info {
	margin-bottom: 0;
}

@media screen and (min-width: 768px) {
	.footer {
		padding-top: 32px;
		padding-left: 24px;
		padding-right: 24px;
		padding-bottom: 25px;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}

	.footer__part {
		flex-basis: 33%;
	}

	.footer__part:first-child {
		text-align: left;
	}

	.footer__part:last-child {
		text-align: right;
	}
}

@media screen and (min-width: 768px) {
	.footer {
		padding-bottom: 21px;
	}
}
