.header {
	padding-top: 18px;
	padding-bottom: 18px;
	max-width: 767px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid var(--section-border-line-color);
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__wrapper {
	display: flex;
	align-items: center;
}

.header__wrapper--right {
	display: flex;
}

.header__icons {
	display: flex;
	align-items: center;
}

.header__icons--tablet {
	display: none;
}

.header__icons:last-child::before {
	content: '';
	display: block;
	margin-right: 20px;
	width: 2px;
	height: 32px;
	background-color: var(--item-border-line-color);
}

.header__burger {
	margin-right: 16px;
}

.header__icon-wrapper {
	display: flex;
	align-items: center;

	transition: transform var(--animation-time) var(--animation-time-function);
}

.header__icon-wrapper:first-child {
	margin-right: 16px;
}

.header__icon-wrapper:hover,
.header__icon-wrapper:focus {
	cursor: pointer;
	transform: scale(1.1);
}

.header__action-text {
	display: none;
}

.header__icons--desktop {
	display: none;
}

@media screen and (min-width: 768px) {
	.header {
		padding-top: 18px;
		padding-bottom: 18px;
		max-width: 1119px;
	}

	.header__icons--tablet {
		display: flex;
		margin-right: 20px;
	}

	.header__icons--tablet > .header__icon-wrapper:not(:last-child) {
		margin-right: 16px;
	}

	.header__burger {
		margin-right: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.header {
		display: none;
	}
}
