.main {
	max-width: 767px;
	width: 100%;
	margin: 0 auto;
}

.main__right {
	background-color: var(--main-light-bg-color);
}

@media screen and (min-width: 768px) {
	.main {
		max-width: 1119px;
	}
}
