.main {
	max-width: 767px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.main__right {
	position: relative;
	background-color: var(--main-light-bg-color);
}

.main__icons--desktop {
	position: absolute;
	top: 42px;
	right: 30px;
	display: none;
}

.main__icon-wraper {
	display: flex;
	align-items: center;
	z-index: 100;
}

.main__icon-wraper:first-child {
	margin-right: 32px;
}

.main__action-text {
	display: inline;
	margin-right: 8px;

	font-family: 'TT Lakes Medium';
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;

	color: var(--main-dark-text-color);
}

.main__icon-wraper:hover .main__action-text {
	cursor: pointer;
	color: var(--accent-color);
}

.main__icon-wraper:hover .main__icon {
	transform: scale(1.1);
}

@media screen and (min-width: 768px) {
	.main {
		max-width: 1119px;
	}
}

@media screen and (min-width: 1440px) {
	.main {
		max-width: 100%;
		min-width: 1120px;
		display: flex;
		padding-right: 30px;
		padding-left: 34px;
	}

	.main__right {
		padding-top: 42px;
	}

	.main__icons--desktop {
		display: flex;
	}

	.main__icon-wraper {
		display: flex;
		align-items: center;
	}
}
