.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 22px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 320px;
	height: 100vh;
	z-index: 997;

	transform: translateX(-100%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	background-color: var(--secondary-light-bg-color);
	box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);

	transition: transform var(--animation-time) var(--animation-time-function),
		opacity var(--animation-time) var(--animation-time-function),
		visibility var(--animation-time) var(--animation-time-function);
}

.menu.is-open {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
	pointer-events: initial;
}

.blur-area {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 996;

	transform: translateX(-100%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	background-color: var(--blur-light-bg-color);

	transition: transform var(--animation-time) var(--animation-time-function),
		opacity var(--animation-time) var(--animation-time-function),
		visibility var(--animation-time) var(--animation-time-function);
}

.blur-area.is-open {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
	pointer-events: initial;
}

.menu__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 36px;
}

.menu__wraper {
	display: flex;
	align-items: center;
}

.close {
	margin-right: 10px;
}

.menu__logo {
	display: flex;

	fill: var(--logo-fill-color);
	stroke: var(--logo-stroke-color);
	stroke-width: 0.5px;

	transition: fill var(--animation-time) var(--animation-time-function),
		stroke var(--animation-time) var(--animation-time-function);
}

.menu__logo:hover {
	cursor: pointer;
	fill: var(--accent-color);
	stroke: var(--accent-color);
}

.menu__btn {
	display: flex;

	transition: transform var(--animation-time) var(--animation-time-function);
}

.menu__btn:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.menu__actions {
	@extend %list;
	display: flex;
	margin-bottom: 16px;
}

.menu__contacts {
	display: flex;
	flex-direction: column;
}

.menu__langs {
	@extend %list;
}

@media screen and (min-width: 1440px) {
	.menu {
		width: 100%;
		max-width: 276px;
		position: relative;
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
		pointer-events: initial;

		box-shadow: none;
	}

	.close {
		display: none;
	}
}
