.menu {
	display: none;
	width: 100%;
	max-width: 276px;
	margin-right: 30px;
	padding-left: 22px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

.menu__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 36px;
}

.menu__wraper {
	display: flex;
	align-items: center;
}

.menu__logo {
	display: flex;

	fill: var(--logo-fill-color);
	stroke: var(--logo-stroke-color);
	stroke-width: 0.5px;

	transition: fill var(--animation-time) var(--animation-time-function),
		stroke var(--animation-time) var(--animation-time-function);
}

.menu__logo:hover {
	cursor: pointer;
	fill: var(--accent-color);
	stroke: var(--accent-color);
}

.menu__btn {
	display: flex;

	transition: transform var(--animation-time) var(--animation-time-function);
}

.close {
	display: none;
}

.menu__btn:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.menu__actions {
	@extend %list;
	display: flex;
	margin-bottom: 16px;
}

.menu__contacts {
	display: flex;
	flex-direction: column;
}

.menu__langs {
	@extend %list;
}

@media screen and (min-width: 1440px) {
	.menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-height: 100vh;
	}
}
