.swiper-services {
	margin: 0 auto;
	margin-bottom: 24px;

	max-width: 320px;
	overflow: hidden;
}

.swiper-services__item {
	text-wrap: nowrap;
}

.swiper-services__link {
	@extend %link;
	display: inline-block;
	padding: 8px;

	font-family: 'TT Lakes Medium', sans-serif;
	font-size: 16px;
	line-height: 1.5; /*24px*/
	letter-spacing: -0.2px;

	color: var(--main-light-text-color);

	transition: color var(--animation-time) var(--animation-time-function);
}

.swiper-services__link--active {
	border-radius: 6px;
	border: 2px solid var(--item-border-color);

	background-color: var(--secondary-light-bg-color);
}

.swiper-services__link:hover,
.swiper-services__link:focus {
	color: var(--accent-color);
}

@media screen and (min-width: 768px) {
	.swiper-services {
		display: none;
	}
}
